
html{
    background-color: #D9D4D1;
}

.logo{
    position: initial;
}
.container{
    display: flex;
    flex-wrap: wrap;
    float: right;
}
.busca{
    padding: 15px 50px 15px 30px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 35px;
    width: 80%;
    height: 42px;

}
.button{
    background-image: url("lupa.png");
    background-color: #ffffff;/*coloca o fundo da lupa na cor branca, de acordo com o campo de entrada*/
    background-repeat: no-repeat;
    background-size: 1.3em; /*tamanho da lupa em relação a seu fundo*/
    padding-right: 1.3em;
    padding: 10px 10px 10px 10px;/*zera o background da lupa, reforçando o fundo*/
    position: relative;
    transform: translateY(-40%);
    border: none;
    border-color: #D9D4D1;
    cursor: pointer;
    left: 160px;
    top: -25px;
}
/*https://pt.stackoverflow.com/questions/471065/alinhar-imagem-de-lupa-dentro-do-campo-input-de-busca-html*/
/*Cor no topo da navegação*/
ul {
    list-style-type: none;
    background-color: #333;
    margin: 50px;
    padding: 15px;
    overflow: hidden;
    border-radius: 20px;
    

  }
  .flex-container{
     display: flex;
     justify-content: space-around;
  }
  
/*Estilo dos links dentro da navegação*/
  li a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;

    text-decoration: none;
    font-size: 17px;

  }
    
  /* Mudar de cor ao selecionar os links */
  li a:hover {
    color: black;
  }
  
